In [2]:
# dependencies and startup
import pandas as pd
import os

In [3]:
# read csv to df
raw_data = pd.read_csv("Resources/pandas04data.csv")

In [15]:
# display total numnber of players
player_total = raw_data.loc[:,["SN","Gender","Age"]]
player_total = player_total.drop_duplicates()
number_of_players = player_total.count()[0]
print(number_of_players)

576

In [16]:
# Purchasing Analysis (total)
    # number of unqiue items
    # avg pruchase price
    # total number of purchases
    # total Revenue
    
Number_unique = len(raw_data["Item ID"].unique())
Average_price = raw_data["Price"].mean()
Total_purchases = raw_data["Purchase ID"].count()
Total_Revenue = raw_data["Price"].sum()

In [17]:
#create df for purchasing analysis
Purchase_Analysis_df = pd.DataFrame({
    
    "Number of Unique Items":[Number_unique],
    "Average Purchase Price":[Average_price],
    "Total Number of Purchases":[Total_purchases],
    "Total Revenue": [Total_Revenue]})

In [18]:
Purchase_Analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

In [19]:
# Gender demographics
    # Percentage and Count of Male Players
    # Percentage and Count of Female Players
    # Percentage and Count of Other / Non-Disclosed

Gender_total = player_total["Gender"].value_counts()
Gender_percent = Gender_total/number_of_players*100

# create gender df
Gender_demo_df = pd.DataFrame ({
    "Total Count": Gender_total, 
    "Percentage of players": Gender_percent})

In [20]:
Gender_demo_df

                       Total Count  Percentage of players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [21]:
# Total Purchasing Analysis by gender
    # purchase count by gender
    # Average Purchase Price
    # Total Number of Purchases
    # Total Revenue
    
Gender_purchase_count = raw_data.groupby(["Gender"])["Price"].count().rename("Purchase Count by Gender")
Average_gender_purchase = raw_data.groupby(["Gender"])["Price"].mean().rename("Average Purchase by Gender")
Total_purchase_of_gender = raw_data.groupby(["Gender"])["Price"].sum().rename("Purchase Values by Gender")
Average_purchase_per_gender = Total_purchase_of_gender / Gender_demo_df["Total Count"]

#DF

Gender_purchase_analysisdf = pd.DataFrame({"Purchase Counts": Gender_purchase_count,
                                           "Average Purchase by Gender": Average_gender_purchase,
                                          "Purchase Values by Gender": Total_purchase_of_gender,
                                          "Average Purchase Total per Person by Gender": Average_purchase_per_gender})
# Formatting
Gender_purchase_analysisdf["Average Purchase by Gender"] = Gender_purchase_analysisdf["Average Purchase by Gender"].map("${:.2f}".format) 
Gender_purchase_analysisdf["Purchase Values by Gender"] = Gender_purchase_analysisdf["Purchase Values by Gender"].map("${:.2f}".format) 
Gender_purchase_analysisdf["Average Purchase Total per Person by Gender"] = Gender_purchase_analysisdf["Average Purchase Total per Person by Gender"].map("${:.2f}".format) 

# Gender_purchase_analysisdf = Gender_purchase_analysisdf.loc[:, ["Purchase Count by Gender", "Average Purchase by Gender", "Purchase Values by Gender", "Average Purchase Total per Person by Gender"]]
Gender_purchase_analysisdf

,Purchase Counts,Average Purchase by Gender,Purchase Values by Gender,Average Purchase Total per Person by Gender
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [22]:
# Age Demographics
    # Bins
    
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age Group

player_total["Age Ranges"] = pd.cut(player_total["Age"], bins, labels = bin_labels)
Total_age_demo = player_total["Age Ranges"].value_counts()
Percent_age_demo = Total_age_demo / number_of_players * 100

# DF

Age_demodf = pd.DataFrame({"Total Count": Total_age_demo, "Percentage of Players": Percent_age_demo})

#formatted (why isnt this the right formatting?!!?!?)

Age_demodf = Age_demodf.round(2)
Age_demodf.sort_index()

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

In [28]:
# Age analysis

#bins again?
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
    
raw_data["Age Ranges"] = pd.cut(raw_data["Age"], bins, labels = bin_labels)

Age_purchase_count = raw_data.groupby(["Age Ranges"])["Price"].count()
Age_avg_price = raw_data.groupby(["Age Ranges"])["Price"].mean().round(2)
Age_purchase_price = raw_data.groupby(["Age Ranges"])["Price"].sum().round(2)    
Avg_purchase_per_person = Age_purchase_price / Age_demodf["Total Count"].round(2)

#DF

Age_purchasedf = pd.DataFrame({"Purchase Count": Age_purchase_count,
                                   "Average Purchase Price": Age_avg_price,
                                   "Total Purchase Value": Age_purchase_price,
                                   "Avg Total Purchase Per Person": Avg_purchase_per_person})

#formatting attempt
Age_purchasedf["Purchase Count"] = Age_purchasedf["Purchase Count"].map("{:,}".format)
Age_purchasedf["Average Purchase Price"] = Age_purchasedf["Average Purchase Price"].map("{:,.2f}".format)
Age_purchasedf["Total Purchase Value"] = Age_purchasedf["Total Purchase Value"].map("{:,.2f}".format)
Age_purchasedf["Avg Total Purchase Per Person"] = Age_purchasedf["Avg Total Purchase Per Person"].map("{:,.2f}".format)

Age_purchasedf

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,"1,114.06",4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

In [31]:
# Top Spenders
# Identify top 5 spenders in the game by total purchase value
    # SN
    # Purchase Count
    # Average Purchase Price
    # Total Purchase Value

Spender_analysis = raw_data.groupby("SN")
    
Top_purchase_count = Spender_analysis["Purchase ID"].count().round(2)
Avg_spender = Spender_analysis["Price"].mean().round(2)
Total_spender_purchase = Spender_analysis["Price"].sum().round()
    
Top_spendersdf = pd.DataFrame({"Purchase Count": Top_purchase_count,
                                  "Average Purchase Price": Avg_spender,
                                  "Total Purchase Value": Total_spender_purchase})
    
    #formatting attempt
Top_spendersdf = Top_spendersdf.sort_values(["Total Purchase Value"], ascending=False).head(5) 
Top_spendersdf["Average Purchase Price"] = Top_spendersdf["Average Purchase Price"].map("${:.2f}".format)
Top_spendersdf["Total Purchase Value"] = Top_spendersdf["Total Purchase Value"].map("${:.2f}".format)
Top_spendersdf

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $19.00
Idastidru52               4                  $3.86               $15.00
Iral74                    4                  $3.40               $14.00
Chamjask73                3                  $4.61               $14.00
Iskadarya95               3                  $4.37               $13.00

In [32]:
# Most Popular Items
    # Identify the 5 most popular items by purchase count
    # Item ID
    # Item Name
    # Purchase Count
    # Item Price
    # Total Purchase Value
    
Most_popular_group = raw_data.groupby(["Item ID", "Item Name"])
Pop_purchase_count = Most_popular_group["Price"].count()
Pop_purchase_value = Most_popular_group["Price"].sum()
Pop_item_price = Pop_purchase_value / Pop_purchase_count

# df

Most_popular_items = pd.DataFrame({"Purchase Count": Pop_purchase_count,
                                  "Item Price": Pop_item_price,
                                  "Total Purchase Value": Pop_purchase_value})

Most_popular_items = Most_popular_items.sort_values("Purchase Count", ascending=False)

# formatting
Most_popular_items["Item Price"] = Most_popular_items["Item Price"].map("${:,.2f}".format)
Most_popular_items["Total Purchase Value"] = Most_popular_items["Total Purchase Value"].map("${:,.2f}".format)
Most_popular_items.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [33]:
# Most Profitable Items
    # Item ID
    # Item Name
    # Purchase Count
    # Item Price
    # Total Purchase Value
    
Most_profitable_items = Most_popular_items.sort_values("Total Purchase Value", ascending=False)
Most_profitable_items = Most_popular_items.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]

Most_profitable_items.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77